
    <!-- Conteúdo da Pagina-->
    <div class="container">

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Sobre
                <strong>o painel colaborativo</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-fluid mb-4 mb-lg-0" src="img/body/fordummies.gif" alt="">
                </div>
                <!-- avaliar a possibilidade de exibir os paragrafos de forma dinamica com um arquivo json -->
                <div class="col-lg-8">
                    <p>Este é o primeiro projeto do curso de Backend da Mastertech, da turma de agosto/2017.</p>
                    <p>A ideia surgiu pensando nas dificuldades que os iniciantes em tecnologia têm. Apesar de termos inúmeros sites / wikis / blogs e afins para consulta, muitas vezes temos dificuldades com a parte conceitual, e não é muito fácil achar um lugar didático o suficiente para minimizar esse ponto.</p>
                    <p>O painel colaborativo (nome ainda em revisão - RISOS) é um lugar onde você poderá encontrar pessoas com o conhecimento que você deseja aprender, e pedir um help! Simples assim :)</p>
                </div>
            </div>
        </div>

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Queremos ouvir
                <strong>você</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9 map-container mb-4 mb-lg-0">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.163326541561!2d-46.65650468502211!3d-23.562576884682255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8e668b5d1%3A0x426c1f6bc631d749!2sAv.+Paulista%2C+1374+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP%2C+01310-100!5e0!3m2!1spt-PT!2sbr!4v1493410333208"></iframe>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="mb-0">Horário de funcionamento:</h5>
                    <div class="mb-4">Das 19 às 22 h</div>
                    <h5 class="mb-0">Email:</h5>
                    <div class="mb-4">
                        <a href="mailto:millena.ferreira@gmail.com">contato@redecolab.tech</a>
                    </div>
                    <h5 class="mb-0">Endereço:</h5>
                    <div class="mb-4">
                        Av. Paulista, 1374
                        <br> São Paulo - SP, Brasil
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Quem
                <strong>somos?</strong>
            </h2>
            <hr class="divider">
            <div class="row">
              {{#each quemSomos}}
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-30">
                        <!-- src="img/sobre/{{foto}} -->
                        <!-- <img class="card-img-top" src="http://placehold.it/750x450" alt=""> -->
                        <img class="card-img-top" src="./img/sobre/{{foto}}" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">{{nome}}
                                <small class="text-muted">{{email}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
              {{/each}}
            </div>
        </div>

    </div>
    <!-- /Conteúdo da Pagina-->
